* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.page-wrapper {
    font-family: 'Unbounded', cursive;
    font-size: 30px;
    color: white;
    overflow: hidden;
    /* background-image: url('../img/bg.png');
    background-size: cover;
    width: 100vw;
    height: 100vh; */
    background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
    width: 100vw;
    height: 100vh;
}
.calculate{
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 20px;
    background: rgb(255, 163, 77) 15.9%;
    font-family: 'Unbounded', cursive;
    color: white;
}
.calculate:hover{
    cursor: pointer;
    background: rgb(255, 124, 0) 0%;
}

.what{
    border: 1px solid;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__formed {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

span {
    padding: 30px;
}

input {
    color: white;
    font-family: 'Unbounded', cursive;
    font-size: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid grey;
    width: 200px;
    /* max-width: 120px;
        min-width: 40px; */
    height: 50px;
}

.description{
    font-size: 10px;
}

.argument{
    border: 1px solid gray;
    border-radius: 20px;
    width: 150px;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    /* height: 200px; */
}

select {
    font-family: 'Unbounded', cursive;
    width: 170px;
    height: 50px;
    background: transparent;
    border-radius: 20px;
    color: white;
    padding: 15px;
}

.formed-item-GV{
 visibility: hidden;
}
.formed-item {
    /* border: 1px solid; */
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    justify-content: center;
}

.back{
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 20px;
    background: rgb(255, 163, 77) 15.9%;
    font-family: 'Unbounded', cursive;
    color: white;
    margin: 0 auto;
    
}
.back:hover{
    cursor: pointer;
    background: rgb(255, 124, 0) 0%;
}

.container__dov{
    filter: brightness(0);
    border: 1px solid grey;
    border-radius: 20px;
    flex-direction: column;
    width: 550px;
    height: 700px;
    display: flex;
    padding: 20px;
    gap: 15px;
}